/* body with no margin and full display */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* setting of the background image */
body{
    background-image: url(assets/pexels-gradienta-7130475.jpg);
    background-size: cover;
    align-items: center;
}
/* header styling  */
header{
    position: relative;
    left: 30%;
    top: 3%;
    font-size: 5rem;
    font-weight: 600;
    color: aqua;
}
/* Container for the main box in which watch display and buttons are placed */
.container{
    height: 50%;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 30%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* display for the stopwatch */
.timer{   
    height: 45%;
    width: 90%;
    padding: 3%;
    background-color: #E6E9FF;
    border: 6px solid black;
    border-radius: 10px;
    font-size: 350%;
    font-weight: 600;
}

/* units of the watch */
#text{
    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2rem ;
}
/* digits of the watch */
.digit{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* buttons box  */
.buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* buttons for start ,stop and reset */
.btn{
    height: 150%;
    width: 30%;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    color: darkgrey;
}

/* individual buttons styling  */
#start{
    background-color: green;
}
#stop{
    background-color: yellow;
}
#reset{
    background-color: red;
}